* {
	margin: 0;
	box-sizing: border-box;
	font-size: 50px;
	font-family: "Quantico";
}

body {
	height: 100vh;
	width: 100vw;
	background-color: hotpink;
}

.gameboard {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.equation-container {
	height: 30%;
	width: 100%;
}
.equation {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: lightskyblue;
}
.equation > .number {
	font-size: 2rem;
	background-color: chartreuse;
}
.equation > .operator {
	height: 100px;
	width: 100px;
}

.new-number-button {
	margin: 10px 0;
}

.check-equation-button {
	margin: 10px 0;
}
